
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

body{
    background-image: url(../img/login/bg-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /*To make bg responsive */
    background-attachment: fixed;
}

fieldset{
    /*box-shadow: hoizantal, vertical, blur, spread, color*/
    box-shadow: -10px 10px 10px 0 rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-top: 180px;
    margin-left: 430px;
    background-color: rgba(255, 255, 255, 0.98);
    width: 450px;
    height: 350px;
}

h2{
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 120px;
    font-family: 'Bitter', serif;
}

.fa, .fas{
    color: rgb(139, 7, 7);
    font-size: 30px;
}

.form-group{
    padding-left: 60px;
    padding-top: 20px;
}

.form-group input {
    width: 280px;
    height: 40px;
    border-radius: 12px;
}

.btn{
    background-color: rgb(175, 0, 0);
    color: white;
    width: 200px;
    border-radius: 5px;
    margin-left:130px ;
    margin-top: 30px;
}
















